
ul{ 
  position:absolute;
  margin-top:1%;
}
button{
  margin:1%;
}
div{
  border-radius:25px;
}
img{
  height:100px;
}
#image{
  position:absolute;
  left:46%;
  top:30%;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
#header{
  margin-top:10%;
}

